.snack {
    max-width: 150px;
    margin: 5px;
    border: 1px solid green;
    cursor: pointer;
}

#plate {
    width: 450px;
    height: 450px;
    border-radius: 500px;
}

#plate img {
    max-width: 100%;
    height: auto;
}

#plate .snack {
    position: absolute;
    top: -228px;
    left: 151px;
    max-width: 150px;
    margin: 5px;
    border: 1px solid green;
    cursor: pointer;
}

#score-board {
    width: 400px;
    height: 200px;
}
