.boot-wrapper {
    /*display: none;*/
    animation: clean 7.5s ease-in forwards;
}

.dock {
    animation: move-in-from-bottom 180ms ease-in forwards;
}

.boot-wrapper {
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: #000000;*/
    /*color: #FFF;*/
    /*opacity: 1;*/
}

.boot-wrapper .line {
    margin: 0 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    animation: appair 1s;
}

/*Configure*/
.boot-wrapper .line:first-child {
    animation: appair 1ms;
}

/*Mounting*/
.boot-wrapper .line:nth-child(2) {
    animation: appair 2s;
}

/*Connecting*/
.boot-wrapper .line:nth-child(3) {
    animation: appair 4s;
}

/*Updating*/
.boot-wrapper .line:nth-child(4) {
    animation: appair 4s;
}

/*Setting*/
.boot-wrapper .line:nth-child(5) {
    animation: appair 5s;
}

/*Skynet*/
.boot-wrapper .line:nth-child(6) {
    animation: appair 6s;
}

/*...*/
.boot-wrapper .line:nth-child(7) {
    animation: appair 7s;
}

/*OK*/
.boot-wrapper .line:nth-child(8) {
    animation: appair 10s;
}

/*Login*/
.boot-wrapper .line:nth-child(9) {
    animation: appair 11s;
}

.boot-wrapper .line .ok {
    float: right;
    color: green;
}

.boot-wrapper .line .ok:first-child {
    animation: appair 1.2s;
}

.boot-wrapper .line .message {
    width: 0;
}

@keyframes appair {
    0% {
        width: 0;
    }
    50% {
        width: 0;
        display: block;
    }
    100% {
        width: 100;
    }
}

@keyframes clean {
    from {
    }
    to {
    }
    0% {
    }
    50% {
    }
    100% {
        opacity: 0;
        top: -999em;
        /*height: 0;*/
    }
}

@-webkit-keyframes clean {
    from {
        top: 0;
    }
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        top: -999em;
    }
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.task-bar [class*='col-'] {
    padding: 4px;
}

.task-bar {
    color: #ffffff;
}

.task-bar a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
    font-size: 14px;
}

.dock {
    position: fixed;
    bottom: 0;
    left: 42%;
    background: rgba(243, 245, 239, 0.47);
    transform: translate(-50%, 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dock ul {
    padding: 10px 15px 5px 15px;
    margin: 0;
}

.dock ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.desktop-icon {
    cursor: pointer;
}

.desktop-icon img,
.dock-icon img {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.dock-icon img:hover {
    width: 60px;
    height: 60px;
}

.desktop-icon {
    text-decoration: none;
}

@keyframes move-in-from-bottom {
    0% {
        transform: translateY(100%);
        bottom: 0;
    }
    50% {
        transform: translateY(50%);
        bottom: 0;
    }
    100% {
        transform: translateY(0%);
        bottom: 0;
    }
}

[draggable=true] {
    cursor: move;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.app {
    border-radius: 5px;
    overflow: visible;
    width: 90%;
    height: 74%;
    display: inline-block;
    resize: both;
    position: absolute;
    left: 5%;
    top: -999em;
    margin: auto;
    background: white;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
}

.app:target {
    animation: open-app 450ms ease-in 1ms 1 normal;
    animation-fill-mode: forwards;
}

.app .controls {
    padding-left: 12px;
    padding-top: 5px;
    margin-bottom: 0;
    margin-top: 0;
    background: #F9F0F0;
    border-bottom: 1px solid #E4DDDD;
}

.app .controls li {
    display: inline-block;
    cursor: pointer;
}

.app .controls .control:nth-child(3) {
    padding-right: 15px;
}

.app .controls .tab {
    background: #E6E6E6;
    padding: 6px 12px 2px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #E4DDDD;
    border-bottom: none;
}

.app hr {
    margin: 0;
}

.browser {
}

.browser li.address-bar {
    top: -1px !important;
    display: inline;
}

.browser .controls:nth-child(2) {
    padding: 11px;
}

.browser .controls:nth-child(2) li {
    top: 3px;
    position: relative;
}

.browser .control.address-bar input {
    border: none;
    height: 20px;
    width: 60%;
    box-shadow: inset 1px 1px 4px #E6D5D5;
    border-radius: 3px;
}

.browser iframe {
    border: none;
    width: 100%;
    height: 90%;
}

@keyframes open-app {
    from {
        top: 5%;
        opacity: 0;
        transform: scale(.3, .3);
    }
    to {
        opacity: 1;
        top: 5%;
        transform: scale(1, 1);
    }

    50% {
        opacity: 1;
    }
}

@keyframes boot {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        top: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes close-app {
    from {
        top: 5%;
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(.3, .3);
        display: none;
    }

    50% {
        opacity: 1;
    }
}

@media all and (max-width: 800px) {
    .dock {
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .app {
        width: 100%;
        height: 100%;
        z-index: 99;
        margin: 0;
        /* top: 0; */
        left: 0;
        border-radius: 0;
    }

    @keyframes open-app {
        from {
            top: 0;
            opacity: 0;
            transform: scale(.3, .3);
        }
        to {
            opacity: 1;
            top: 0;
            transform: scale(1, 1);
        }

        50% {
            opacity: 1;
        }
    }
}

@media all and (max-width: 650px) {
    .col-1 {
        width: 50%
    }

    .col-2, .col-3, .col-4, .col-5, .col-6 {
        width: 100%
    }
}
