.container {
    width: 100%;
    /*max-width: 1100px;*/
    margin: auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 12px;
}

.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666666%
}

.col-3 {
    width: 24.999999999%
}

.col-4 {
    width: 33.333333332%;
}

.col-5 {
    width: 41.666666665%;
}

.col-6 {
    width: 49.999999998%;
}

.col-7 {
    width: 58.333333331%;
}

.col-8 {
    width: 66.666666664%;
}

.col-9 {
    width: 74.999999997%;
}

.col-10 {
    width: 74.999999997%;
}

.col-11 {
    width: 91.666666663%;
}

.col-12 {
    width: 99.999999996%;
}

@media all and (max-width: 800px) {
    .col-1 {
        width: 16.666666666%
    }

    .col-2 {
        width: 33.333333332%
    }

    .col-3 {
        width: 49.999999998%
    }

    .col-4 {
        width: 66.666666664%
    }

    .col-5 {
        width: 83.33333333%
    }

    .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%
    }

    .row .col-2:last-of-type {
        width: 100%
    }

    .row .col-5 ~ .col-1 {
        width: 100%
    }

    .pull-right.hidden-small,
    .hidden-small {
        display: none;
    }
}

@media all and (max-width: 650px) {
    .col-1 {
        width: 50%
    }

    .col-2, .col-3, .col-4, .col-5, .col-6 {
        width: 100%
    }
}

.pull-right {
    display: inline-block;
    text-align: right;
}

.pull-left {
    display: inline-block;
    text-align: left;
}
