@import url(../fonts/droid-sans.css);

* {
    box-sizing: border-box;
    font-family: "Droid Sans";
}

html {
    font-size: 12px;
}

body {
    margin: 0;
}

span {
    padding: 5px;
    margin-right: 5px;
}

.background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

.background img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
}

.hidden {
    display: none;
}
