.test-results {
    border-radius: 5px;
    -webkit-box-shadow: 2px 0 8px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 0 8px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 2px 0 8px 0 rgba(50, 50, 50, 0.75);
}
.test-results, .test-results th, .test-results td {
    padding: 0;
    border-collapse: collapse;
}
.test-results td {
    border: 1px solid #E6DFDF;
}
.test-results td {
    padding: 12px;
}
.test-results td span {
    display: block;
    width: 95%;
    height: 10px;
    position: relative;
    margin: auto;
}
.test-results tr:nth-child(odd) {
    background-color: #ffffff;
}
.test-results tr:nth-child(even) {
    background-color: #F3EDED;
}
.test-results tr:last-child td {
    border-bottom: none;
}
.test-results tr td:first-child {
    border-left: none;
}
.test-results tr td:last-child {
    border-right: none;
}
.test-results tr:first-child td {
    border-top: none;
}
.test-results tr:first-child td:first-child {
    border-top-left-radius: 5px;
}
.test-results tr:first-child td:last-child {
    border-top-right-radius: 5px;
}
.test-results tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.test-results tr:last-child td:last-child {
    border-right: none;
    border-bottom-right-radius: 5px;
}
.legend span {
    color: white;
    font-size: 10px;
}
.good {
    background: green;
}
.partial {
    background: orange;
}
.not {
    background: red;
}
.not-tested {
    background: darkgray;
}
@media all and (max-width: 650px) {
    .test-results th, .test-results td {
        padding: 0.50em .45em;
    }
}
